.App {
  text-align: center;
}

.singer-row {
  display: flex;
  justify-content: space-between;
}

.singer-box {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.lyrics-box {
  border: 3px solid #e5e4e2;
  border-radius: 20px;
  width: 800px;
  height: 600px;
  overflow: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
